body {
    font-family: sans-serif;
}

header {
    background-color: #2d85c5;
    padding: 1rem 10px;
}

header span {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 800;
}


/* navigation stuff here */
nav {
    background-color: #0262a7;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #000000;
    font-weight: 800;
}

nav li.active a {
    background-color: #df0303;
}

nav li a:hover {
    color: white
}

/* main stuff here */

main {
    padding: 1rem 10px;
}

main h1 {
    color: #0817e5;
}

main h2 {
    color: #024873;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
    background-color: #4e9de8;
}

main ol {
    padding: .5rem 30px;
    background-color: #4e9de8;
}

main dl dt {
    color: #055ef9;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #444445;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 800;
    color: #b40412;
}

main em {
    font-weight: 400;
}

main address {
    font-style: normal;
    background-color: #2d85c5;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #000000;
    width: 200px;
}

main a {
    color: #024873;
}

main a:hover {
    color: rgb(180, 4, 18)
}

/* footer stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #2d85c5;
    letter-spacing: 3px;
}